<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Minos et Thésée</name>

    <description>
        La terrible histoire du roi Minos, du prince Thésée, de la princesse Ariane et du savant Dédale...
    </description>

    <author href="http://www.oracle-editions.com/" email="fvermorel@gmail.com">
      Oracle Editions
    </author>
	<preference name="orientation" value="landscape" />
	<icon src="icon.png" />
	<gap:splash src="splash.png" />

</widget>