@charset "UTF-8";
/* CSS Document */





#chouette3.envol3 {
    
	left: 27%;
    top: 69%;
}

#chouette3.envol3:hover {
	cursor:pointer;
}


#btnPlus3 {

    left: 32.97%;
 
    top: 64.95%;

}

#btnPlus3:hover {
	cursor:pointer;
}

#bulle3BIG {

    height: 22%;
    left: 4%;


    top: 35%;
    width: 22%;

}
#pasiphae {
background-image: url("../resources/chapter1/img/c/pasiphae.jpg");
    background-repeat: no-repeat;
    background-size: 300% 100%;
		 position:absolute;
		left:20%;
	top:18%;
	height: 17%;
	    width: 10%;
		 z-index: 7; 
		-webkit-animation:pasiphae2 3s step-start infinite;
	-moz-animation:pasiphae2 3s step-start infinite;
	animation:pasiphae2 3s step-start infinite;
}

@-webkit-keyframes pasiphae2 {
	0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
	
}

@-moz-keyframes pasiphae2 {
0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
	
	
}

@keyframes pasiphae2 {
0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
}




.etat1 {
	background-image: url(../resources/chapter1/img/c/pasi1.png);
	 background-repeat: no-repeat;
	 background-size:100% 100%;
	 position:absolute;
	 	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:7;

	
}
.etat2 {
	background-image: url(../resources/chapter1/img/c/pasi2.png);
	  background-repeat: no-repeat;
	 background-size:100% 100%;
	 position:absolute;
	 	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:7;
	 
}
.etat3 {
	background-image: url(../resources/chapter1/img/c/pasi3.png);
	 background-repeat: no-repeat;
	 background-size:100% 100%;
	 position:absolute;
	 	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:7;
}
#boutonpasiphae {
	height:10%;
	width:7%;
	top:60%;
	left:60%;
	background-color:#0FF;
		position:absolute;
}
