



.page11 #chouette.envol {
  
	left:66%;
	top:34%;
}

.page11 #chouette.envol:hover {
	cursor:pointer;
}


.page11 #btnPlus {
    left: 61.5%;
  
    top: 30.95%;

}

.page11 #btnPlus:hover {
	cursor:pointer;
}

.page11 #bulle1BIG {

    height: 22%;
    left: 59.13%;

    top: 0.8%;
    width: 22%;
  
}
.page11 #ariane {
	
		   background-repeat: no-repeat;
    background-size: 200% 100%; 
	
	  position: absolute;
    z-index: 6; 
	background-image: url("../resources/chapter3/img/c/ariane.jpg");
	left: 80%;
	top: 33%;
	height:5% ;
	width: 4%;
	
-webkit-animation:ariane2 10s step-start infinite;
	-moz-animation:ariane2 10s step-start infinite;
	animation:ariane2 10s step-start infinite;
}


@-webkit-keyframes ariane2 {
	0%		{
		background-position:0;
	}
	
	50%	{
		background-position:+100%;
	}
	
	100%	{
		background-position:0%;
	}
	
}

@-moz-keyframes ariane2{
0%		{
		background-position:0;
	}
	
	50%	{
		background-position:+100%;
	}
	
	100%	{
		background-position:0%;
	}
	
	
}

@keyframes ariane2 {
0%		{
		background-position:0;
	}
	
	50%	{
		background-position:+100%;
	}
	
	100%	{
		background-position:0%;
	}
}
.page11 #dedale {
	
		   background-repeat: no-repeat;
    background-size: 200% 100%; 
	
	  position: absolute;
    z-index: 6; 
	background-image: url("../resources/chapter3/img/c/yeuxdedale2.jpg");
	left: 68%;
	top: 38%;
	height:1.5% ;
	width: 3%;
	
-webkit-animation:yeuxdedale2 3s step-start infinite;
	-moz-animation:yeuxdedale2 3s step-start infinite;
	animation:yeuxdedale2 3s step-start infinite;
}


@-webkit-keyframes yeuxdedale2 {
	0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
	
}

@-moz-keyframes yeuxdedale2 {
0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
	
	
}

@keyframes yeuxdedale2 {
0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
}
.page11 #fille {
	
		   background-repeat: no-repeat;
    background-size: 200% 100%; 
	
	  position: absolute;
    z-index: 6; 
	background-image: url("../resources/chapter3/img/c/fille2.jpg");
	left: 23%;
	top: 43%;
	height:1% ;
	width: 2%;

-webkit-animation:fille2 2.5s step-start infinite;
	-moz-animation:fille2 2.5s step-start infinite;
	animation:fille2 2.5s step-start infinite;
}


@-webkit-keyframes fille2 {
	0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
	
}

@-moz-keyframes fille2 {
0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
	
	
}

@keyframes fille2 {
0%		{
		background-position:0;
	}
	
	10%	{
		background-position:+100%;
	}
	
	20%	{
		background-position:0%;
	}
}

.page11 .bulleb1{
	
 background-image: url("../img/bulle-pensee-droite.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-style:italic;
   font-size: 0.55em;
      z-index: 8;
   
    position: absolute;
opacity:0;
 padding: 3% 2% 3% 7%;
    top: 27%;
	left: 72%;
    width: 9%;
	 height: 4%;


 -webkit-animation:bulleb11 12s ease-in  ;
	-moz-animation:bulleb11 12s ease-in  ;
	animation:bulleb11 12s ease-in  ;
}
@-webkit-keyframes bulleb11 {
0%		{
		opacity:0;
	}
	
	5%	{
		opacity:0;
	}
	
	15%	{
		opacity:1;
	}
	55%		{
		opacity:1;
	}

	65%		{
		opacity:0;
	}
	
}

@-moz-keyframes bulleb11 {
0%		{
		opacity:0;
	}
	
	5%	{
		opacity:0;
	}
	
	15%	{
		opacity:1;
	}
	55%		{
		opacity:1;
	}

	65%		{
		opacity:0;
	}
	
}
@keyframes bulleb11 {
0%		{
		opacity:0;
	}
	
	5%	{
		opacity:0;
	}
	
	15%	{
		opacity:1;
	}
	55%		{
		opacity:1;
	}

	65%		{
		opacity:0;
	}
}


.page11 .bulleb2{
	
  background-image: url("../img/bulle-pensee-droite.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-style:italic;
   font-size: 0.55em;
      z-index: 8;
   
    position: absolute;
opacity:0;
 padding: 3% 3% 3% 7%;
    top: 33%;
	left: 42%;
    width: 9%;
	 height: 4%;

 -webkit-animation:bulleb21 12s ease-in  ;
	-moz-animation:bulleb21 12s ease-in  ;
	animation:bulleb21 12s ease-in  ;
}
@-webkit-keyframes bulleb21{
0%		{
		opacity:0;
	}
	
	15%	{
		opacity:0;
	}
	
	25%	{
		opacity:1;
	}
	65%		{
		opacity:1;
	}

	75%		{
		opacity:0;
	}
	
}

@-moz-keyframes bulleb21 {
0%		{
		opacity:0;
	}
	
	15%	{
		opacity:0;
	}
	
	25%	{
		opacity:1;
	}
	65%		{
		opacity:1;
	}

	75%		{
		opacity:0;
	}
	
}
@keyframes bulleb21 {
0%		{
		opacity:0;
	}
	
	15%	{
		opacity:0;
	}
	
	25%	{
		opacity:1;
	}
	65%		{
		opacity:1;
	}

	75%		{
		opacity:0;
	}
}



.page11 .bulleb3{
	
  background-image: url("../img/bulle-pensee-gauche.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-style:italic;
   font-size: 0.55em;
      z-index: 8;
   
    position: absolute;
opacity:0;
 padding: 3% 6% 3% 3%;
    top: 31%;
	left: 3%;
    width: 9%;
	 height: 6%;
 -webkit-animation:bulleb31 12s ease-in  ;
	-moz-animation:bulleb31 12s ease-in  ;
	animation:bulleb31 12s ease-in  ;
}
@-webkit-keyframes bulleb31{
0%		{
		opacity:0;
	}
	
	25%	{
		opacity:0;
	}
	
	35%	{
		opacity:1;
	}
	75%		{
		opacity:1;
	}

	85%		{
		opacity:0;
	}
	
}

@-moz-keyframes bulleb31 {
0%		{
		opacity:0;
	}
	
	25%	{
		opacity:0;
	}
	
	35%	{
		opacity:1;
	}
	75%		{
		opacity:1;
	}

	85%		{
		opacity:0;
	}
	
}
@keyframes bulleb31 {
0%		{
		opacity:0;
	}
	
	25%	{
		opacity:0;
	}
	
	35%	{
		opacity:1;
	}
	75%		{
		opacity:1;
	}

	85%		{
		opacity:0;
	}
}

