/* Demo Styles */
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  height: 100%;
}
.swiper-container {
  width: 1024px;
  margin-left:auto!important;
  margin-right:auto!important;
  height: 768px;
 
  text-align: center;
}

.page1 {
background-image: url(../resources/chapter1/img/1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page2 {
background-image: url(../resources/chapter1/img/2.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page3 {
background-image: url(../resources/chapter1/img/3.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page4 {
background-image: url(../resources/chapter1/img/4.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}


.page5 {
background-image: url(../resources/chapter2/img/1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page6 {
background-image: url(../resources/chapter2/img/2.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page7 {
background-image: url(../resources/chapter2/img/3.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page8 {
background-image: url(../resources/chapter2/img/4.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page9 {
background-image: url(../resources/chapter3/img/1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page10 {
background-image: url(../resources/chapter3/img/2.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page11 {
background-image: url(../resources/chapter3/img/3.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page12 {
background-image: url(../resources/chapter3/img/4.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page13 {
background-image: url(../resources/chapter4/img/1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page14 {
background-image: url(../resources/chapter4/img/2.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page15 {
background-image: url(../resources/chapter4/img/3.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page16 {
background-image: url(../resources/chapter4/img/4.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page17 {
background-image: url(../resources/chapter4/img/5.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page18 {
background-image: url(../resources/chapter4/img/6.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page19 {
background-image: url(../resources/chapter5/img/1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page20 {
background-image: url(../resources/chapter5/img/2.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page21 {
background-image: url(../resources/chapter5/img/3.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page22 {
background-image: url(../resources/chapter5/img/4.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}


.page23 {
background-image: url(../resources/chapter6/img/1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}

.page24 {
background-image: url(../resources/chapter6/img/2.png);
	background-size:contain;
	background-repeat:no-repeat;
}
.page25 {
background-image: url(../resources/chapter6/img/3-fond.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.page26 {
background-image: url(../resources/chapter6/img/4.jpg);
	background-size:contain;
	background-repeat:no-repeat;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
  
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {

  background: #fff;
}

#text {
	position:relative;
	overflow:hidden;
	
}
video {
	position:absolute;
	z-index:1;
	
}